<div id="app-sidepanel" class="app-sidepanel">
    <div id="sidepanel-drop" class="sidepanel-drop"></div>
    <div class="sidepanel-inner d-flex flex-column">
        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
        <div class="app-branding">
            <a class="app-logo" href="index.html"><img class="logo-icon mr-2" src="assets/images/app-logo.svg" alt="logo"><span class="logo-text">5mens</span></a>

        </div><!--//app-branding-->

        <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
            <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                <NavItem Has_submenu="false" Nav_link_text="Главная" Nav_link="/"/>
                <NavItem Has_submenu="true" Nav_link_text="Меню" Submenu_number="1"/>
                <NavItem Has_submenu="true" Nav_link_text="Пользователи" Submenu_number="2"/>
                <NavItem Has_submenu="true" Nav_link_text="Материалы" Submenu_number="3"/>
            </ul><!--//app-menu-->
        </nav><!--//app-nav-->
        <SidePanelFooter />

    </div><!--//sidepanel-inner-->
</div><!--//app-sidepanel-->
