@inherits LayoutComponentBase
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <header class="app-header fixed-top">
        <NavMenu />
        <_AppHeader />
    </header>
    <div class="app-wrapper">
        @Body
    </div>