@page "/menu/add"

@inject IDbContextFactory<AppDbContext> DbFactory
@inject NavigationManager Nav
<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <_PageTitle MainTitle="Добавить меню" />
        </div>
        <div class="row g-4 settings-section">
            <div class="col-12">
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <form class="settings-form">
                            <div class="mb-3">
                                <label for="setting-input-1" class="form-label">Наименование</label>
                                <input type="text" class="form-control" id="setting-input-1" @bind-value="@_menuTitle" required="" placeholder="Введите наименование меню">
                            </div>
                            <div class="mb-3">
                                <label for="setting-input-2" class="form-label">Описание</label>
                                <input type="text" class="form-control" id="setting-input-2" @bind-value="@_menuDesc" placeholder="Введите краткое описание меню">
                            </div>
                            <a class="btn app-btn-primary" @onclick="@(async () => await OnButtonClicked())">Сохранить</a>
                            <a class="btn app-btn-primary bg-danger" @onclick="@Cancel">Отмена</a>
                        </form>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div>
        </div>
    </div>
</div>
@code {
    private string _menuTitle;
    private string _menuDesc;

    protected override Task OnInitializedAsync()
    {
        _menuTitle = string.Empty;
        _menuDesc = string.Empty;
        return base.OnInitializedAsync();
    }

    /// <summary>
    /// Сохранить
    /// </summary>
    private async Task OnButtonClicked()
    {
        MenuRepository menuRepository = new MenuRepository(DbFactory);
        await Task.Run(() => menuRepository.AddNewMenu(new Menu { Title = _menuTitle, Desc = _menuDesc }));
        Cancel();
    }

    /// <summary>
    /// Отмена
    /// </summary>
    private void Cancel()
    {
        Nav.NavigateTo($"/menu/list");
    }
}