@page "/"
@namespace Engine.Areas.AdminPanel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="5mens">
    <link rel="shortcut icon" href="~/favicon.ico">
    @if (Request.Path.Value.Contains("/administrator"))
    {
        <title>Панель управления</title>
        <meta name="description" content="Основная панель управления сайтом">

    }
    else
    {
        <title>Сайт</title>
        <meta name="description" content="Сайт">
    }
    <base href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="~/_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/3e040ebe94.js" crossorigin="anonymous"></script>
</head>
<body class="app">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            <div>An unhandled exception has occurred. See browser dev tools for details.</div>
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/_content/MudBlazor/MudBlazor.min.js"></script>
    @if (Request.Path.Value.Contains("/administrator/article/add"))
    {
        <script src="~/_content/Blazeditor.TinyMCE/tinymce.min.js"></script>
        <script src="~/_content/Blazeditor.TinyMCE/blazeditor.js"></script>
        <script src="~/js/site.js"></script>
    }
</body>
</html>
