<div class="app-card-footer p-4 mt-auto">
    <a class="btn app-btn-primary" href="#">Добавить</a>
    <a class="btn app-btn-secondary" href="#">Изменить</a>
    <a class="btn app-btn-primary bg-danger" href="#">Удалить</a>
</div>
@code {

}
