@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

<h2 class="auth-heading text-center mb-4">@ViewData["Title"]</h2>
<div class="auth-intro mb-4 text-center">Введите данные почтового ящика</div>
<div class="auth-form-container text-left">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control login-email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Отправить</button>
        </div>
    </form>
    <div class="auth-option text-center pt-5">
        <a asp-page="./Login" class="text-link">Вход</a>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
