@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

<h2 class="auth-heading text-center mb-4">@ViewData["Title"]</h2>
<div class="auth-intro mb-4 text-center">Введите данные почтового ящика.</div>

<div class="auth-form-container text-left">
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" placeholder="Введите Email" class="form-control login-email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Отправить</button>
    </form>
    <div class="auth-option text-center pt-2"><a class="app-link" asp-page="./Login">Вход</a> <span class="px-2">|</span> <a class="app-link" asp-page="./Register">Регистрация</a></div>
</div><!--//auth-form-container-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
