@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<h2 class="auth-heading text-center mb-4">@ViewData["Title"]</h2>
<div class="auth-intro mb-4 text-center">Введите новый пароль.</div>

<div class="auth-form-container text-left">

    <form method="post">
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" placeholder="Введите Email" class="form-control login-email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control signin-password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control signin-password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Изменить</button>
    </form>
    <div class="auth-option text-center pt-2"><a class="app-link" asp-page="./Login">Вход</a> <span class="px-2">|</span> <a class="app-link" asp-page="./Register">Регистрация</a></div>

</div><!--//auth-form-container-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
